body {
  background: #333;
  color: white;
}

.board, .ships {
  display: grid;
  grid-gap: 4px;
  position: absolute;
  /* width: 300px; */
  /* height: 300px; */
  border: 5px solid black;
}

.board {
  background: black;
}

.ships {
  z-index: 2;
}

.ship {
  background: gray;
  border-radius: 40%;
}

.ship1 {
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
}

.ship2 {
  grid-column: 5 / span 1;
  grid-row: 3 / span 3;
}

.hit {
  place-self: center;
  color: orange;
}

.hit1 {
  grid-column: 5 / span 1;
  grid-row: 4 / span 1;
}

.water-tile {
  background: blue;
  width: 50px;
  height: 50px;
}

